.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    inline-size: 28px;
    block-size: 28px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown-menu {
    min-inline-size: 200px;
    text-align: center;
}

.dropdown-item {
    cursor: pointer;
}

.avatar {
    position: absolute;
    inset-block-start: 50px;
    inset-inline-end: 150px;
    inline-size: 50px;
    block-size: 50px;
    background-color: transparent;
    color: rgb(66, 233, 233);
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: transparent;
}

.btn-logout {
    position: fixed;
    inset-block-end: 150px;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 90%;
    max-inline-size: 230px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}